{% extends 'base.html' %}


{% block content %}


        <div class="pb-4">
            <div class="py-4">
            
                <div class="d-flex justify-content-between w-100 flex-wrap">
                   <div class="mb-3 mb-lg-0">
                      <h1 class="h4">Job Type Engineers</h1>
                      <p class="mb-0">List of Engineers which are available today by job type.</p>
                   </div>
                </div>
             </div>
             
             <div class="card py">
                <div class="table-responsive py-4">
                   <table class="table table-flush" id="datatable">
                      <thead class="thead-light">
                        <tr>
                            <th class=" border-bottom fw-bolder" scope="col">Job Type</th>
                            <th class=" border-bottom fw-bolder" scope="col">No of Engineers</th>
                        </tr>
                      </thead>
                      <tbody>
                       
                        <tr>
                            <td class="text-gray-900">Plumbing</td>
                            <td class="text-gray-900">{{plumbing_qty}}</td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">Drainage</td>
                            <td class="text-gray-900">{{drainage_qty}}</td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">Heating</td>
                            <td class="text-gray-900">{{heating_qty}}</td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">Gas</td>
                            <td class="text-gray-900">{{gas_qty}}</td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">Unvented</td>
                            <td class="text-gray-900">{{unvented_qty}}</td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">Electricity</td>
                            <td class="text-gray-900">{{electricity_qty}}</td>
                        </tr>           
                    </tbody>
                   </table>
                </div>
             </div>
        </div>
        
       
{% endblock content  %}  