<{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %} <div class="row my-4">


  <form action="#" method="post" class="card border-0 shadow p-3 pb-4 mb-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="card-header mx-lg-4 p-0 py-3 py-lg-4 mb-4 mb-md-0">
      <h3 class="h5 mb-0">Search Engineer</h3>
    </div>
    <div class="card-body p-0 p-md-4 pb-md-0">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
          <div class="form-group mb-">
            <div class="form-group{% if form.job.errors %} has-error{% endif %}">
              {{ form.job_type|as_crispy_field }}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="form-group mb-4">
            <div class="form-group{% if form.city.errors %} has-error{% endif %}">
              {{ form.post_code|as_crispy_field }}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <div class="form-group mb-4">
            <div class="form-group{% if form.rating.errors %} has-error{% endif %}">

              {{ form.rating|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-2">
          <span class="mb-5"></span>
          <button class="btn btn-gray-800 mt-4 animate-up-2 search-btn" type="submit">Search</button>
      </div>
      </div>
    </div>
  </form>
  <div class="card">
    <div class="table-responsive py-4">
      {% if engineers %}
      <table class="table table-flush" id="datatable">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom fw-bolder" scope="col">Engineer Name</th>
            <th class="border-bottom fw-bolder" scope="col">Postcode</th>
            <th class="border-bottom fw-bolder" scope="col">Job Type</th>
            <th class="border-bottom fw-bolder" scope="col">Date</th>
            <th class="border-bottom fw-bolder" scope="col">Available</th>
            <th class="border-bottom fw-bolder" scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            {% for engr in engineers %}
          <tr>
            <td class=" text-gray-900">{{engr.engineer}}</td>
            <td class=" text-gray-900">
              {% for city in engr.cities.all %}
              <span class="badge super-badge bg-success ms-1">{{ city }}</span>
              {% endfor %}

            </td>
            <td class=" text-gray-900">
              {% for job in engr.jobs.all %}

              <span
                class="badge super-badge ms-1 {% if job.name == 'Plumbing' %} bg-info {% elif job.name == 'Drainage'  %} bg-success{% elif job.name == 'Electricity'  %} bg-warning {% elif job.name == 'Heating'  %} bg-danger {% elif job.name == 'Gas'  %} bg-secondary {% elif job.name == 'Unvented'  %}bg-tertiary   {% else %} bg-danger  {%endif%}  ">{{job.name}}</span>
              {% endfor %}

            </td>
            <td class=" text-gray-900">{{ engr.date }}</td>
            <td class=" text-gray-900">{{ engr.start_time }} - {{ engr.end_time }}</td>
            <td class=" text-gray-900">{{engr.rating}}</td>

          </tr>

          {% endfor %}


        </tbody>
      </table>

      {% else %}
      <h4 class="text-center alert alert-warning">No Record Found</h4>
      {% endif %}
    </div>
  </div>
  </div>

  {% endblock content %}