{% extends 'base.html' %}


{% block content %}
    

        <div class="pb-4">
            <div class="py-4">
            
                <div class="d-flex justify-content-between w-100 flex-wrap">
                   <div class="mb-3 mb-lg-0">
                      <h1 class="h4">List of Engineers Available this Week</h1>
                      <p class="mb-0">List of Engineers which are available this week/Hours availablity.</p>
                   </div>
                </div>
             </div>
             
             <div class="card py">
                <div class="table-responsive py-4">
                   <table class="table table-flush" id="datatable">
                      <thead class="thead-light">
                        <tr>
                            <th class=" border-bottom fw-bolder" scope="col">Engineer Name</th>
                            <th class=" border-bottom fw-bolder" scope="col">No of Hours</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for engineer, total_availability in weekly_total_availability.items %}
                        <tr>
                            <td class="text-gray-900">{{ engineer }}</td>
                            <td class="text-gray-900">{{total_availability }}</td>
                        </tr>
                        {% endfor %}
        
                        
                    </tbody>
                   </table>
                </div>
             </div>
        </div>
        {% endblock content %}